body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.My-name-highlignt{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
}
.half-width img{
    width: 100%;
    height: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
text-decoration: none;
background-image: linear-gradient( 45deg, lightsalmon, tomato  );
padding: 10px 20px;
border-radius: 10px;
color: white;
font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.single-experience{
    box-shadow: 8px 8px 35px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}